/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

/.venv
/venv
/python/venv
/python/.venv
/python/tes.ipynb
/python/temp_files
/python/__pycache__/*
/python/routes/__pycache__
/python/services/__pycache__
/dbexport/*.sql
/.agents
/.cursor

**/caddy
frankenphp
frankenphp-worker.php

**/caddy
frankenphp
frankenphp-worker.php
rr
.rr.yaml
python/pegawai
SYSTEM_MAP.MD
AGENTS.MD
/.cursor
CLAUDE.MD
GEMINI.MD
.junie
.vite
*.stackdump
